@import "config", "gamePanel";

body::-webkit-scrollbar {
    display: none;
}

body {
    
    font-family: "Kanit", sans-serif;
    background: $blue-color;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: 0;
}

.visible {
    @include transition-ease(0.4s);
    visibility: visible;
}
.not-visible {
    visibility: hidden;
    @include transition-ease(0.4s);
}

.non-clickable {
    pointer-events: none;
}
.clickable{
    pointer-events: visible;
}
